body {
}

header {
    
    padding-top: 1rem;
}

section {
    padding-top: 1rem;
}

.buttons-container {
    gap: 1rem;
    padding-bottom: 1rem;
}

.new-member-info {
    padding-bottom: 1rem;   
    display: flex;
}

.col-left, .col-right, .new-member-car {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    & div {              
              align-items: center;
          }

    & input {
                max-width: 60%;

            }

& select {
    max-width: 60%;

}
}




